[submodule "leftloversAPIGateway"]
	path = leftloversAPIGateway
	url = https://github.com/hassel16/leftloversAPIGateway
[submodule "leftloversTokenService"]
	path = leftloversTokenService
	url = https://github.com/hassel16/leftloversTokenService.git
[submodule "leftloversFrontend"]
	path = leftloversFrontend
	url = https://github.com/hassel16/leftloversFrontend.git
[submodule "leftloversChatService"]
	path = leftloversChatService
	url = https://github.com/hassel16/leftloversChatService.git
[submodule "leftloversStandortService"]
	path = leftloversStandortService
	url = https://github.com/hassel16/leftloversStandortService.git
[submodule "leftloversAngebotsService"]
	path = leftloversAngebotsService
	url = https://github.com/hassel16/leftloversAngebotsService.git
