[submodule "leftloversAPIGateway"]
	path = leftloversAPIGateway
	url = https://github.com/hassel16/leftloversAPIGateway
[submodule "leftloversTokenService"]
	path = leftloversTokenService
	url = https://github.com/hassel16/leftloversTokenService.git
[submodule "leftloversFrontend"]
	path = leftloversFrontend
	url = https://github.com/hassel16/leftloversFrontend.git
[submodule "leftloversChatService"]
	path = leftloversChatService
	url = https://github.com/hassel16/leftloversChatService.git
[submodule "leftloversStandortService"]
	path = leftloversStandortService
	url = https://github.com/hassel16/leftloversStandortService.git
[submodule "leftloversAngebotsService"]
	path = leftloversAngebotsService
	url = https://github.com/hassel16/leftloversAngebotsService.git
[submodule "leftloversUserService"]
	path = leftloversUserService
	url = https://github.com/hassel16/leftloversUserService.git
[submodule "leftlovers-account-service"]
	path = leftlovers-account-service
	url = https://github.com/pheusel/leftlovers-account-service.git
[submodule "leftlovers-offer-service"]
	path = leftlovers-offer-service
	url = https://github.com/pheusel/leftlovers-offer-service.git
[submodule "leftlovers-uaa-service"]
	path = leftlovers-uaa-service
	url = https://github.com/pheusel/leftlovers-uaa-service.git
